/**
    This stylesheet is based on https://github.com/markdowncss/air
**/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);


/************************************
 **       Block level styles       **
 ************************************/
html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
    margin: 1rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

h1 {
    margin-top: 0;
    font-size: 3.999rem;
}

h2 {
    font-size: 2.828rem;
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.414rem;
}

h5 {
    font-size: 1.121rem;
}

h6 {
    font-size: .88rem;
}

body {
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

img {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

a {
    color: #3498db;
}
a:visited {
    color: #833fa0;
}

a:hover,
a:focus,
a:active {
    color: #2980b9;
}

pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
}

blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
}

ul,
ol,
li {
    text-align: left;
    line-height: 1.42;
}

p {
    color: #777;
}

b {
    font-weight: bold;
}


/************************************
 **         Targeted styles        **
 ************************************/
@media screen and (max-width: 50rem){
    #small-screen-warning {
        display: block !important;
    }
    #container {
        flex-direction: column !important;
        align-items: center;
    }
}

@media screen and (min-width: 72rem) and (min-height: 50rem){
    #content {
        max-width: 64rem !important;
    }
    canvas {
        max-width: 100% !important;
    }
}

@media screen and (any-pointer: coarse) {
    #small-screen-warning {
        display: block !important;
    }
    #container {
        flex-direction: column !important;
        align-items: center;
    }
    #container > canvas {
        max-width: min(720px, 100%);
    }
    #container > .tp-v {
        width: 100% !important;
    }
    .tp-v {
        line-height: 4em;
        font-size: 1em !important;
    }
    .tp-lblv_v {
        /** expand the right column to fill **/
        flex-grow: 1 !important;
    }
    .tp-ckbiv_m /**checkbox**/
    {
        width: 4em !important;
        height: 4em !important;
    }
    .tp-btnv_b, /**button**/
    .tp-lstiv_s, /**list**/
    .tp-sldiv_o /**slider**/
    {
        height: 4em !important;
    }
    .tp-sldiv_i::before /**slider handle**/
    {
        width: 3em !important;
        height: 3em !important;
    }
}

#small-screen-warning {
    color: #dc3545;
    display: none; /* only show if the screen width is too small */
}
#draw-area {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
    border-radius: 6px;
}
#container > * {
    max-width: min(500px, 100%);
}
#content {
    margin: 1rem auto 1rem;
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    max-width: 48rem;
    text-align: center;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    background-color: #f5f5f5;
    padding: 6rem 0;
    line-height: 1.85;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.modal.show {
    display: block;
}

.modal-window {
    position: relative;
    background-color: #fff;
    width: 75%;
    margin: 10% auto;
    padding: 20px;
}
.CodeMirror {
    border: 1px solid #ddd;
}